@import '../../styles/mixins';

.newsItem {
  width: 100%;
  background: white;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;

  .articleImg {
    width: 100%;
    height: 200px;
  }

  h3,
  summary,
  .articleDetails {
    margin: 12px 20px 0 20px;
  }

  .articleDetails {
    p {
      line-height: 10px;
      margin: 8px;
      padding: 0;
    }
    padding: 0;
    margin: 12px 0;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  @include smMinBreakPoint {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .articleImg {
      width: 100%;
      height: 600px;
    }

    .articleDetails {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 12px;
    }
  }
}
